*{
box-sizing: border box;
}

img{
max-width: 100%;
}
body{
background-color: pink;
margin: 0;
}

.main-container {
background-color: aqua;
height: 100vh;
}

.top{
background-color: greenyellow;
display:flex;
height: 20%;

gap: 20px;
padding: 10px;

}

.top-item{
background-color: rgb(110, 51, 177);
width: 100%;

}

.bottom{
background-color: red;
height: 80%;
display: flex;
gap: 10px;
padding:10px
}

.left{
 background-color: darkolivegreen;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.center{
background-color: rgb(250, 179, 0);
height: 10%;
width: 20%;
}

.right{
background-color: darkgreen;
width: 50%;
display: flex;
flex-direction: column;
gap: 10px;
}

.right-item{
    background-color: yellow;
    height: 100%;
}