* {
    box-sizing: border box;
}

image {
    max-width: 100%; 
}

.block {
    background-color: rgb(115, 243, 3);
    padding: 20px;
    width: 100px;
    height: 100px; 
    font-size: 10px;
    transition: background-color .5s;
    
    
    /* max-width: 700px;
    min-width: 600px;
    font-size: 10px;
    /* border: 1px solid black */

}

.block:hover {
    background-color:rgb(0, 21, 255);
    
}

.mobile-only{
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    display: none;
    
}
/* .inline{
    background-color: rgb(255, 0, 111);
    padding: 10px;
    margin: 10px;
    display: inline-block; 
} */

/* .container{
    background-color: aqua;
    padding: 10px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
   
    /* justify-content:space-evenly;
    align-content: center; */
    /* align items is for non-wrapping flexboxes  */

    /* align-content:center; */
    /* align-content is forwrapping flexboxes */

    /* gap: 20px 50px;

} */
.item{
    background-color: orange;
    padding: 10px;
    width: 200px;
    height: 100px;
    border:1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px){
    body{
        background-color: rgb(11, 184, 158);
    }
    .block{
        background-color: rgb(249, 1, 80);
        width: 200px;
        height: 200px;
        font-size: 20px;
        }
}

@media screen and (max-width: 700px){
    body{
        background-color: rgb(249, 1, 80);
        
    }
    .block{background-color: orange;
        width: 200px;
        height: 200px;}
}


@media screen and (max-width: 500px){
    body{
        background-color: orange;
        
    }
    .block{background-color: rgb(0, 0, 0);
        width: 200px;
        height: 200px;
    }
    .mobile-only{  
    display: block;
    }
}